/**
 * ヘルプ
 */
.crth-a-login-help {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  border: 2px solid #ddd;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 1;
  color: #ddd;
  cursor: pointer;
}
