/**
 * タイトルバー
 */
.crth-crly-a-error-title-bar{
  background-color: #0b6fad;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 40px;
  letter-spacing: 0.1em;
  line-height: 40px;
  padding: 0 30px;
  position: relative;
  text-align: center;
  width: 100%;
  font-family: sans-serif;
}
